.alina {
    color: var(--navyblue, #2E2F42);
text-align: center;

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}
.alina-malina {
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
text-align: center;
line-height: 1.333;
}
.section-text {
    text-shadow: 2px 2px 4px #212121;
    text-indent: 24px;
    line-height: 1.5;
    letter-spacing: 3px;
}
